<div class="jumbotron">
  <%= video_tag "man-on-bike.mp4", controls: false, autoplay: true, muted: true, loop: true, class: "video" %>
  <div class="container about">
    <div class="row">
      <div class="col-md-4" id="col-md-4-about">
        <h1 id="h1-about">We are <br> Bike <br> Berlin</h1>
        <p>We give new life to used Bikes. We are a group of cyclists
  who want to make the joy of cycling available to everyone!
  Please explore our product offerings and feel free to ask any
  questions you may have via our contact page.
  We look forward to seeing you on the road soon!</p>
      </div>
    </div>
  </div>
</div>
