<div class="jumbotron">
  <%= video_tag "man-on-bike.mp4", controls: false, autoplay: true, muted: true, loop: false, class: "video" %>
  <div class="jumbotron-text">
    <h1 class="main-page-header">Welcome to Bike Berlin</h1>
    <h2 class="main-page-header">Your source for used bikes in Berlin</h2>
  </div>
</div>
