<div class="jumbotron">
  <%#= image_tag (vintage_bike), class: "image" %>
  <%= video_tag "man-on-bike.mp4", controls: false, autoplay: true, muted: true, loop: true, class: "video" %>
  <h1>Welcome to Bike Berlin</h1>
  <h2>Your source for used bikes in Berlin</h2>
  <%#= image_tag("beach_bike.jpg", class: "img-responsive landing-image") %>
</div>
