<h1>Featured Product:</h1>
<div class="landing-image">
  <%= image_tag(@featured_product.image_url, class: "img-responsive") %>
</div>
<div id="landing-product-name">
  <h4><%= @featured_product.name %></h4>
</div>
