// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  min-height: 100%;
  height: 100%;
  /*padding-top: 4.5rem;*/
  margin: 0;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.bg-inverse {
  background-color: black !important;
}
@media (min-width: 992px) {
.navbar-toggleable-md {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  }
}
.navbar {
  display: flex;
  padding: .5rem 1rem;
}
.navbar-inverse .navbar-toggler {
  border-color: rgba(255, 255, 255, .1);
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-toggler {
  color: white;
}
@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}
.navbar-toggler-right {
  posiiton: absolute;
  right: 1rem;
}
.navbar-toggler {
  align-self: flex-start;
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.navbar-inverse .navbar-toggler-icon {
  background: black; /*image?*/
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}
.navbar-brand {
  display: inline-block;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-collapse {
    display: flex!important;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -wenkit-box-direction: normal;
    flex-direction: row;
  }
}
.mr-auto {
  margin-right: auto!important;
}
.navbar-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-inverse .navbar-nav .active>.nav-link,
.navbar-inverse .navbar-nav .nav-link.active,
.navbar-inverse .navbar-nav .nav-link.open,
.navbar-inverse .navbar-nav .open>.nav-link {
  color: white;
}
@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}
.nav-link {
  display: block;
  padding: .5em 1em;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.navbar-inverse .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .5);
}
@media (min-width:768px) {
  .mt-md-0 {
    margin-top: 0!important;
  }
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  -webkit-box-align: center;
  align-items: center;
}
@media (min-width: 576px) {
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}
@media (min-width: 576px) {
  .mr-sm-2 {
    margin-right: .5rem!important;
  }
}
.form-control {
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}
@media (min-width: 576px) {
  .my-sm-0 {
    margin-top: 0!important;
    margin-bottom: 0!important;
  }
}
.btn-online-success {
  color: #5cb85c;
  background-image: none;
  background-color: transparent;
  border-color: #5cb85c;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: .9rem;
  border-radius: .25rem;
}
a {
  padding-left: 15px;
  color: white;
}
a:hover {
  text-decoration: none;
  color: green;
  cursor: pointer;
}
a:visited {
  color: white;
}
.container {
  width: auto;
  max-width: 680px;
  position: 0 15px;
  margin-right: auto;
  margin-left: auto;
}
div {
  display: block;
}
h1 {
  color: gray;
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
}
h2 {
  text-align: center;
  color: green;
}
.carousel-inner {
  margin-left: 390px;
  margin-top: 50px;
}
.landing-image {
  margin-left: 400px;
}
h4 {
  text-align: center;
  margin-top: 10px;
}
.navbar {
  width: 100%;
  background-color: #5D6165, !important;
  max-height: 40px;
}
.navbar-brand {
  width: 25%;
}
.nav-right ul {
  margin-left: 570px;
  margin-top: 20px;
}
.nav-right .nav .pull-right {
  color: black !important;
}
#about {
  padding-right: 10px;
}
#contact {
  padding-right: 20px;
}
.nav-right ul li{
  list-style-type: none;
  color: white;
  display: inline-block;
  font-size: .75em;
}
a {
  color: white !important;
}
a:hover {
  text-decoration: none;
  color: #FFCA6C !important;
}
.container-fluid {
  min-height: 100%;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.orders-row {
  padding-top: 75px;
}
.form {
  padding-top: 50px;
  padding-left: 16px;
}
.page-links, .show-page {
  padding-left: 16px;
}
.show-page {
  padding-top: 50px;
}
.panel .panel-default .panel-body p {
  color: black;
}
.btn {
  background: black;
}
.btn:focus {
  outline: none;
}
.field {
  text-align: center;
  padding-top: 25px;
  color: green;
}
.form-group {
  text-align: center;
  padding-top: 25px;
  color: green;
  padding-left: 550px;
}
.form_label {
  color: green;
}
.send {
  padding-left: 620px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #5d6165;
}
#footer-p {
  text-align: center;
  color: white;
  margin-top: 12px;
}
