// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  margin-left: 500px;
  color: white;
}
th {
  padding-right: 25px;
}
td {
  color: white;
}
.h2-password {
  text-align: center;
  margin-top: 100px;
  color: red;
}
#new-password-input {
  color: white;
  margin-left: 500px;
  padding-top: 50px;
}
#new-password-input>label {
  padding-right: 25px;
}
#new-password-action {
  margin-left: 500px;
  padding-top: 25px;
}
#new-password-action>input {
  background-color: green;
  color: white;
}
