<div class="col-sm-2 col-md-4 product-description">
  <%= image_tag(product.image_url, class: "img-responsive") %>
  <a href="#"><h2><%= product.name %></h2></a>
  <p><%= product.description %></p>
  <p><strong><%= product.price %></strong></p>
</div>
