<h1>Editing Product</h1>

<%= render 'form', product: @product %>
<div class="page-links">
  <%= link_to 'Show', @product, class: 'btn' %> |
  <%= link_to 'Back', products_path, class: 'btn' %>
</div>
