<div class="row">
  <div class="col-md-6 left-column" >
    <h1>Editing Product</h1>
  </div>
  <div class="col-md-6 right-column">
    <%= render 'form', product: @product %>
    <div class="page-links">
      <%= link_to 'Show', @product, class: 'btn' %> |
      <%= link_to 'Back', products_path, class: 'btn' %>
    </div>
  </div>
</div>
